{% extends 'base.html' %}

<! YOE https://wsvincent.com/django-user-authentication-tutorial-login-and-logout/ >

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" enctype="multipart/form-data" novalidate>
	{% csrf_token %}
	<div class="container">
		<div class="row">
			<div class="col-md-1">

			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<h3>Login</h3>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						  	{{ form|crispy }}	
					</div>
				</div>
				<br>
				<button type="submit" class="btn btn-success">Login</button>
			</div>
			<div class="col-md-5">
			</div>		
		</div>
	</div>
</form>
{% endblock %}