{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" enctype="multipart/form-data" novalidate>
	{% csrf_token %}
	<div class="container">
		<div class="row">
			<div class="col-md-1">

			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<h3>Sign Up</h3>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						  	{{ form|crispy }}	
					</div>
				</div>
				<br>
				<button type="submit" class="btn btn-success">Sign Up</button>
			</div>
			<div class="col-md-5">
			</div>		
		</div>
	</div>
</form>


{% endblock %}