{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if method == "ESTM" %}
	<form method="post" enctype="multipart/form-data" novalidate>
		{% csrf_token %}

		<div class="container">
			<div class="row">
				<div class="col-md-1">

				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<h3>This is an {{ method }} submission</h3>
							<br>
							{% if check != 'ok' %}
								<p style="color:red; font-size:20px"> Project Name previously used or required fields not filled!</p>
							{% endif %}
						</div>
					</div>

					<div class=row>
						<div class="row">
							<div class="col-md-12">
								{{ form.project_name|as_crispy_field }}	
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								{{ form.charge|as_crispy_field }}	
							</div>
							<div class="col-md-6">
								{{ form.multiplicity|as_crispy_field }}	
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								{{ form.num_states|as_crispy_field }}	
							</div>
							<div class="col-md-6">
								{{ form.selected_state|as_crispy_field }}	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								{{ form.basis_set|as_crispy_field }}	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								{{ form.xyz_file|as_crispy_field }}	
							</div>
						</div>
						<br>
						<button type="submit" class="btn btn-success">Submit</button>
					</div>
				</div>
				<div class="col-md-5">
				</div>		

			</div>

		</div>
	</form>
{% endif %}
{% if method == "grant" %}
	<form method="post" enctype="multipart/form-data" novalidate>
		{% csrf_token %}

		<div class="container">
			<div class="row">
				<div class="col-md-1">

				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12">
							<p>
							<br>
							Before submiting Jobs, you must submit the following form for us to evaluate if we can grant your account with access to the Computing Center. <br> 
							We will be in touch very soon using the registered e-mail. 
							<p>
							Thank you
							<br>
							<br>
							{% if check != 'ok' %}
								<p style="color:red; font-size:20px"> Required fields not filled!</p>
							{% endif %}
							</h4>
							<br>
						</div>
					</div>

					<div class=row>
						<div class="row">
							<div class="col-md-12">
								{{ form.full_name|as_crispy_field }}	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								{{ form.institution|as_crispy_field }}	
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								{{ form.comment|as_crispy_field }}	
							</div>
						</div>

						<br>
						<button type="submit" class="btn btn-success">Submit</button>
					</div>
				</div>
				<div class="col-md-5">

				</div>		

			</div>

		</div>
	</form>
{% endif %}

{% endblock %}
