{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h4 style="color:gray; text-align:right"> Hi {{ user.email }}! </h4>




{% else %}

 <!-- <h3 style="color:gray;">This is a web page to simulate diferent properties of mulecular systems, Including:</h3>
  <h4 style="color:gray;">- ESTM (Electrostatic Tuning Maps)</h4>
  <h4 style="color:gray;">- APEC (Average Protein Electrostatic Configurations)</h4>
  <h4 style="color:gray;">- FEG (Free energy geometry optimizations in solusion</p> -->

{% endif %}
{% endblock %}
