{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}


{% if check != 'ok' %}
	<p style="color:red; font-size:20px"> Project Name previously used!</p>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

	<div class="container">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<h3 >Archive ESTM</h3>
						<h4 style="color:gray"> Fill the fields with the values used to generate the ESTM </h4>
						<br>
						{% if check != 'ok' %}
							<p style="color:red; font-size:20px"> Project Name previously used!</p>
						{% endif %}
					</div>
				</div>

				<div class=row>
					<div class="row">
						<div class="col-md-12">
							{{ form.project_name|as_crispy_field }}	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form.charge|as_crispy_field }}	
						</div>
						<div class="col-md-6">
							{{ form.multiplicity|as_crispy_field }}	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form.num_states|as_crispy_field }}	
						</div>
						<div class="col-md-6">
							{{ form.selected_state|as_crispy_field }}	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							{{ form.basis_set|as_crispy_field }}	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							{{ form.xyz_file|as_crispy_field }}	
						</div>
						<div class="col-md-6">
							{{ form.mol2_file|as_crispy_field }}	
						</div>
					</div>
					<br>
					<button type="submit" class="btn btn-success">Submit</button>
				</div>
			</div>
			<div class="col-md-5">
			</div>		

		</div>

	</div>

</form>

{% endblock %}
